{
  "branches": ["master", "next"],
  "tagFormat": "spring-boot-3.5-java-25-${version}",
  "dryRun": true,
  "debug": true,
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@conveyal/maven-semantic-release",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ]
}