name: Create Release
on:
  push:
    branches:
      - master
permissions:
  contents: write
  pull-requests: write
  issues: write
concurrency:
  group: create-release
jobs:
  create_release:
    name: Create Release
    runs-on: ubuntu-latest
    outputs:
       version-3_5-created: ${{ steps.release.outputs['semantic-releasing-spring-boot-3_5--release_created'] }}
       version-3_4-created: ${{ steps.release.outputs['semantic-releasing-spring-boot-3_4--release_created'] }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
      - name: Release Outputs
        continue-on-error: true
        run: |
          echo "Release outputs:"
          echo "${{ toJson(steps.release.outputs) }}"
  release-spring-boot-34:
    name: Publish Spring Boot 3.4
    if: needs.create_release.outputs.version-3_4-created == 'true'
    runs-on: ubuntu-latest
    needs: create_release
    steps:
      - uses: actions/checkout@v5
        name: Checkout
        with:
          fetch-depth: 0
          show-progress: false
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          cache: maven
          java-version-file: semantic-releasing-spring-boot-3_4/.java-version
          cache-dependency-path: semantic-releasing-spring-boot-3_4/pom.xml
      - name: Build
        run: mvn deploy -no-transfer-progress
        working-directory: semantic-releasing-spring-boot-3_4
  release-spring-boot-35:
    name: Publish Spring Boot 3.5
    if: needs.create_release.outputs.version-3_5-created == 'true'
    runs-on: ubuntu-latest
    needs: create_release
    steps:
      - uses: actions/checkout@v5
        name: Checkout
        with:
          fetch-depth: 0
          show-progress: false
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          cache: maven
          java-version-file: semantic-releasing-spring-boot-3_5/.java-version
          cache-dependency-path: semantic-releasing-spring-boot-3_5/pom.xml
      - name: Build
        run: mvn deploy -no-transfer-progress
        working-directory: semantic-releasing-spring-boot-3_5