name: Pull Request 3.4
on:
  pull_request:
    paths:
      - '.github/workflows/pr-spring-boot-34.yml'
      - 'semantic-releasing-spring-boot-3_4/**'
permissions:
  contents: read
  pull-requests: write
jobs:
  pr:
    name: Test
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          show-progress: 'false'
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          cache: 'maven'
          java-version-file: 'semantic-releasing-spring-boot-3_4/.java-version'
          cache-dependency-path: 'semantic-releasing-spring-boot-3_4/pom.xml'
      - name: Test and Analyse
        run: ./mvnw clean verify -no-transfer-progress
        working-directory: semantic-releasing-spring-boot-3_4