name: Check PR Title
on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
permissions:
  contents: read
  pull-requests: write
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true
jobs:
  pr:
    name: Pull Request
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 3
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          show-progress: 'false'
      - name: PR Conventional Commit Validation
        uses: dev-build-deploy/commit-me@v1
        with:
          token: ${{ github.token }}
          update-labels: false
          include-commits: false