name: Create Release
on:
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write
  issues: write
jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    concurrency:
      group: release-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          show-progress: false
      - name: Release Please
        uses: google-github-actions/release-please-action@v4
        with:
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
          token: ${{ secrets.GITHUB_TOKEN }}
