name: Create Release
on:
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write
jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    concurrency:
      group: release-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          show-progress: false
      - name: Configure Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version-file: '.java-version'
          cache: 'maven'
      - name: Configure Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install Semantic Release
        run: npm install -g semantic-release @terrestris/maven-semantic-release
      - name: Semantic Release
        id: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
